In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:postgres@localhost:25432/postgres")

In [3]:
df = pd.read_sql_query("SELECT tablename FROM pg_catalog.pg_tables where schemaname='public';", engine)
table_list = list(df["tablename"])

In [ ]:

from llama_index.core import SQLDatabase
from llama_index.llms.openai import OpenAI
import openai
import os

openai.api_key = os.getenv("OPENAI_API_KEY")

llm = OpenAI(temperature=0.1, model="gpt-4o")
sql_database = SQLDatabase(engine, include_tables=table_list)

In [5]:

from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex

# set Logging to DEBUG for more detailed outputs
table_node_mapping = SQLTableNodeMapping(sql_database)
    
table_schema_objs = []
for table_name in table_list:
    # add a SQLTableSchema for each table
    table_schema_objs.append(SQLTableSchema(table_name=table_name))

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)
query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=1)
)

In [6]:
response = query_engine.query("Which city has the highest rainfall?")
response.response

'The city with the highest rainfall is Hanover, with a maximum rainfall of 199.91 mm.'

In [6]:
response = query_engine.query("Which city has the highest rainfall monthly average ?")
response

Response(response='Cologne has the highest monthly average rainfall among all cities.', source_nodes=[NodeWithScore(node=TextNode(id_='f5c50418-4910-46db-8ada-fe9a6b697845', embedding=None, metadata={'sql_query': 'SELECT city, AVG("Rainfall mm") AS avg_rainfall\nFROM rainfall\nGROUP BY city\nORDER BY avg_rainfall DESC\nLIMIT 1;', 'result': [('Cologne', Decimal('107.9247222222222222'))], 'col_keys': ['city', 'avg_rainfall']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text="[('Cologne', Decimal('107.9247222222222222'))]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)], metadata={'f5c50418-4910-46db-8ada-fe9a6b697845': {'sql_query': 'SELECT city, AVG("Rainfall mm") AS avg_rainfall\nFROM rainfall\nGROUP BY city\nORDER BY avg_rainfall DESC\nLIMIT 1;', 'result': [('Cologne', Decimal('107.9247222222222222'))], 'col_keys': ['city', 'avg_rainfall']}, 'sql_query': 'SELECT city, AVG("Rainfall mm") AS avg_rainfall\nFROM rainfall\nGROUP BY city\nORDER BY avg_rainfall DESC\nLIMIT 1;', 'result': [('Cologne', Decimal('107.9247222222222222'))], 'col_keys': ['city', 'avg_rainfall']})

In [18]:
response.metadata

{'3981cb7e-35f2-4e72-8ff0-1b6b2e8f3781': {'sql_query': 'SELECT city, AVG("Rainfall mm") AS avg_rainfall\nFROM rainfall\nGROUP BY city\nORDER BY avg_rainfall DESC\nLIMIT 1;',
  'result': [('Cologne', Decimal('107.9247222222222222'))],
  'col_keys': ['city', 'avg_rainfall']},
 'sql_query': 'SELECT city, AVG("Rainfall mm") AS avg_rainfall\nFROM rainfall\nGROUP BY city\nORDER BY avg_rainfall DESC\nLIMIT 1;',
 'result': [('Cologne', Decimal('107.9247222222222222'))],
 'col_keys': ['city', 'avg_rainfall']}

In [10]:
query_engine.query("Which year had the highest rainfall?")

Response(response='The year with the highest rainfall was 2020, with a total of 12825.51 mm of rainfall.', source_nodes=[NodeWithScore(node=TextNode(id_='cd2cc138-299f-4874-8580-d8143296d1ad', embedding=None, metadata={'sql_query': 'SELECT year, SUM("Rainfall mm") AS total_rainfall\nFROM rainfall\nGROUP BY year\nORDER BY total_rainfall DESC\nLIMIT 1;', 'result': [(2020, Decimal('12825.51'))], 'col_keys': ['year', 'total_rainfall']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text="[(2020, Decimal('12825.51'))]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)], metadata={'cd2cc138-299f-4874-8580-d8143296d1ad': {'sql_query': 'SELECT year, SUM("Rainfall mm") AS total_rainfall\nFROM rainfall\nGROUP BY year\nORDER BY total_rainfall DESC\nLIMIT 1;', 'result': [(2020, Decimal('12825.51'))], 'col_keys': ['year', 'total_rainfall']}, 'sql_query': 'SELECT year, SUM("Rainfall mm") AS total_rainfall\nFROM rainfall\nGROUP BY year\nORDER BY total_rainfall DESC\nLIMIT 1;', 'result': [(2020, Decimal('12825.51'))], 'col_keys': ['year', 'total_rainfall']})